@*@model IEnumerable<WebAppTilausDBJaanaPusa.Models.Asiakkaat>*@
@model PagedList.IPagedList<WebAppTilausDBJaanaPusa.Models.Asiakkaat>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />

@{
    ViewBag.Title = "Asiakkaat";
}

<h2>Asiakkaat</h2>

<p>
    <a class="btn btn-outline-secondary" href="~/Asiakkaat/Create"><img src="~/Icons/plus-square.svg" alt="Create new" width="20" height="20" title="Create new">  Create new</a>
</p>

@using (Html.BeginForm("Index", "Asiakkaat", FormMethod.Get))
{
    <div class="input-group">
        <p class="px-1">@Html.Label("Etsi nimellä:")</p>
        <p class="px-1">@Html.TextBox("NimiHaku", ViewBag.nimiSuodatin as string, new { @class = "form-control" })</p>
        <p class="px-1"><input type="submit" value="Etsi" class="form-control" /></p>
    </div>
}

<table class="table">
    <tr>
        <th>AsiakasID</th>
        <th>@Html.ActionLink("Nimi", "Index", new { lajittelu = ViewBag.AsiakkaanNimiLajittelu, nimiSuodatin = ViewBag.nimiSuodatin })</th>
        <th>Osoite</th>
        <th>Postitoimipaikka</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.AsiakasID)</td>
        <td>@Html.DisplayFor(modelItem => item.Nimi)</td>
        <td>@Html.DisplayFor(modelItem => item.Osoite)</td>
        <td>@Html.DisplayFor(modelItem => item.Postitoimipaikat.Postitoimipaikka)</td>
        <td><a class="btn" href="~/Asiakkaat/Edit/@item.AsiakasID"><img src="~/Icons/pencil.svg" alt="Edit" width="22" height="22" title="Edit"></a>|
            <a class="btn" href="~/Asiakkaat/Details/@item.AsiakasID"><img src="~/Icons/info-square.svg" alt="Details" width="22" height="22" title="Details"></a> |
            <a class="btn" href="~/Asiakkaat/Delete/@item.AsiakasID"><img src="~/Icons/trash.svg" alt="Delete" width="22" height="22" title="Delete"></a>
        </td>
    </tr>
}

</table>

Sivu @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
@Html.PagedListPager(Model, sivu => Url.Action("Index", new { sivu, lajittelu = ViewBag.LajitteluKaytossa, nimiSuodatin = ViewBag.nimiSuodatin }))
