@model IEnumerable<WebAppTilausDBJaanaPusa.Models.Asiakkaat>

@{
    ViewBag.Title = "Asiakkaat";
}

<h2>Asiakkaat</h2>

<p>
    <a class="btn btn-outline-secondary" href="~/Asiakkaat/Create"><img src="~/Icons/plus-square.svg" alt="Create new" width="20" height="20" title="Create new">  Create new</a>
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.AsiakasID)</th>
        <th>@Html.DisplayNameFor(model => model.Nimi)</th>
        <th>@Html.DisplayNameFor(model => model.Osoite)</th>
        <th>@Html.DisplayNameFor(model => model.Postitoimipaikat.Postitoimipaikka)</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@Html.DisplayFor(modelItem => item.AsiakasID)</td>
        <td>@Html.DisplayFor(modelItem => item.Nimi)</td>
        <td>@Html.DisplayFor(modelItem => item.Osoite)</td>
        <td>@Html.DisplayFor(modelItem => item.Postitoimipaikat.Postitoimipaikka)</td>
        <td><a class="btn" href="~/Asiakkaat/Edit/@item.AsiakasID"><img src="~/Icons/pencil.svg" alt="Edit" width="22" height="22" title="Edit"></a>|
            <a class="btn" href="~/Asiakkaat/Details/@item.AsiakasID"><img src="~/Icons/info-square.svg" alt="Details" width="22" height="22" title="Details"></a> |
            <a class="btn" href="~/Asiakkaat/Delete/@item.AsiakasID"><img src="~/Icons/trash.svg" alt="Delete" width="22" height="22" title="Delete"></a>
        </td>
    </tr>
}

</table>
